body {
    text-size: 20px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(16, 51, 16);
    color: white;
    font-weight: 200;
}
.heading, .recipes {
    width: 80%;
    height: fit-content;
    padding: 20px;
    background-color: rgb(168, 48, 48);
    position: relative;
    margin: auto;
    margin-top: 6%;
}

h1 {
    font-size: 70px;
}

ul {
    list-style: none;
    
}

.links {
    text-decoration: none;
    margin-left: -32px;
    font-size: 30px;
    color: white;
}

.links:hover {
    color: white;
    background-color: rgb(16, 51, 16);
}